@charset "utf-8";

.dy_hotel {min-height: 550px;font-family:"microsoft yahei","simsun",Arial;}
.dy_hotel .hotel_index {width: 100%;}
.dy_hotel .hotel_index .banner {background: url(../images/hotel/hotel_banner.png) center no-repeat;height:457px;}
.dy_hotel .hotel_index .banner .text {font-size:36px;line-height: 36px;color:#fffefe;padding-top:150px;padding-bottom: 36px;white-space: nowrap;}
.dy_hotel .hotel_index .banner .search {width: 600px;margin:0 auto;}
.banner .search .name_search {font-family:Arial,"simsun";font-size:12px;color:#fff;margin:20px 17px 0;line-height:16px;overflow: hidden;}
.banner .search .name_search li{float:left;margin-right:10px;cursor:pointer;}
.banner .search .search_input {width:110px;height:41px;border:none;padding:0 0 0 36px;opacity: 0.9;color:#333;}
.banner .search .search_text {width:211px;padding:0 0 0 31px;background:url(/images/hotel/hotel_icon.png) 5px -156px no-repeat;background-color: #fff;margin: 0 3px 0 0;}
.banner .search .check_in {background:url(/images/hotel/hotel_icon.png) 3px -187px no-repeat;background-color: #fff;}
.banner .search .check_out {background:url(/images/hotel/hotel_icon.png) 3px -230px no-repeat;background-color: #fff;}

.hots .dest_seatch {overflow:hidden;margin: 0 auto;padding: 60px 18px 0;width: 970px;}
.hots .dest_seatch li {color:#999;float:left;margin: 0 11px;font-size:14px;height:120px; cursor:pointer;}
.hots .dest_seatch li img {width:75px;height:75px;border-radius: 40px;}
.hots .dest_seatch li p {margin:14px 0;line-height:22px;}

.search-submit {background: url(../images/hotel/hotel_icon.png) no-repeat;width:40px;height:40px;padding:0;border: 0;cursor: pointer;margin-left: 10px;}
.dy_hotel .hotel_index .hots{ background: url(../images/hotel/dest_list_bk.png) center no-repeat; height:200px;}
.dy_hotel .hotel_index .help{ background-color: #f8f8f8;}
.dy_hotel .hotel_index .links { width:996px;min-height:306px;margin:0 auto;}
.hotelhelp {width: 268px;float:left;text-align: left;margin:38px 24px;}
.hotelhelp a {color:#666;}
.links .mid {margin: 38px 48px;}
.hotelhelp h2{color:#3a9d9a;font-size:18px;padding:18px 0 18px 1px;line-height: 18px;width: 100%;white-space:nowrap;margin-bottom: 15px;margin-right:24px;border-bottom:1px solid #3a9d9a ; }
.hotelhelp ul li {line-height:26p;font-size:14px;height:26px;}

.hotelhelp .dy_booking {display:block;height:30px;width:120px;float:left;overflow:hidden;background: url(../images/hotel/hotel_icon.png) no-repeat;margin:7px 10px 7px 0;}
.hotelhelp .bx {background-position:0 -124px; }
.hotelhelp .dj {background-position:0 -94px; }
.hotelhelp .qz {background-position:0 -64px; }


/*首页广告栏*/
.share_homepage {width: 290px;}
.share_homepage .title {width: 290px;line-height:45px;height:45px;}
.share_homepage .title h2 {font-weight:normal;font-family:"microsoft yahei";padding-left:25px;background-color:#3a9d9a;font-size:20px;color:#fff;}
.share_homepage .booking {width: 258px;padding-left:23px;padding-right:7px;border: 1px solid #e6eef2;border-top: none;background-color:#f2f9fd;}
.share_homepage .booking .note{padding:7px 1px;height: 25px;line-height: 25px;color:#3a9d9a;font-size:12px;font-family:"simsun";}
.share_homepage .booking .note button{float:right}
.share_homepage .booking_box{padding:11px 0 5px;border-bottom: 1px solid #e6eef2;}
.dy_booking .provided {border-top:1px solid #fff;line-height:28px;height:28px;font-size:12px;font-family:"microsoft yahei";color:#c9c8c8;}
.dy_booking .provided .logo{font-size:14px;font-family:Arial;color:#003580;}
.dy_booking .provided .com{font-size:14px;font-family:Arial;color:#23b8f4;}
.share_homepage .booking .ui_input {width:230px;line-height:24px;height:24px;margin:4px 0;padding-left:10px;}
.share_homepage .check_in {background:url(/images/hotel/hotel_icon.png) 213px -193px no-repeat;background-color: #fff;}
.share_homepage .check_out {background:url(/images/hotel/hotel_icon.png) 213px -236px no-repeat;background-color: #fff;}
.side_booking_placehot{position:absolute;z-index:9;top:38px;width:246px;border:1px solid #ccc;border-top:0;background:#fff;display:none;}
.side_booking_placehot h4{border-bottom:1px solid #ededed;line-height:32px;font-weight:700;text-indent:10px;color:#636363;}
.side_booking_placehot ul{padding:5px;overflow:hidden;zoom:1;}
.side_booking_placehot ul li{ width:50%;float:left;line-height:24px;text-indent:5px; padding: 0; }
.side_booking_placehot ul li a{display:block;}
.side_booking_placehot ul li a:hover{background:#e6f4d9;background:#E6EEF2;text-decoration:none;}